
{% extends 'user.html' %}


{% block css %}

    <style>

    #comment_box{margin-left: -10px}

    .comment_index{margin: 20px;!important;}

    .user_index{color: red}


    .comment_index .comment_index{background-color: lightgrey}

    </style>
{% endblock %}

{% block  article%}
    <h3>{{ article.title }}</h3>
    {{ article_content|safe }}
    <div class="row article_comment">
        <hr>
        <div class="row">
            <div class="row ">
                分类 <button class=" btn btn-success">{{ article.category.title }}</button>
                &nbsp;&nbsp;
                 <span>
                        评论
                </span> <a><span class="glyphicon glyphicon-comment"></span></a>

                <span>({{ article.comment_count }})</span>

                 &nbsp;&nbsp;

                <span>
                        赞一个
                </span> <a class="article_up"><span class="glyphicon glyphicon-thumbs-up"></span></a>({{ article.up_count }})
                <span class="up_error"></span>
                 &nbsp;&nbsp;
                踩一下<a href=""><span class="glyphicon glyphicon-thumbs-down"></span></a>hh
                        <span class="up_count" >({{ article.down_count }})</span>
                   <div class="col-sm-6 col-sm-offset-6">
                    posted @ {{ article.create_time|date:'Y-m-d' }} {{article.create_time|time:'H:i' }} {{ user.username }}
                    阅读数{{ article.read_count }}
                    评论{{ article.comment_count }}

                </div>
            </div>
            <div class="row comment_dispaly">
                <p>已有评论</p>
                <div id="comment_box"></div>

            </div>

            <div class="row">
                <form id="form1" name="form1" method="post" action="">
                    {% csrf_token %}
                    <textarea cols=“300” rows=“100” id="comment_content" class="comment_input">
                    </textarea>
                    <p><input type="button" class="btn btn-primary comment_content" value="提交"></p>
                </form>
            </div>


            <div class="row article_bottom">
                    我是有底线的
            </div>
        </div>
    </div>


{% endblock %}



{% block js %}
    <script>

        editor = KindEditor.create('#comment_content',{});
        var parent_comment_id = 0;
        var parent_comment_username='';
        var article_id = {{ article.nid }};


{#    ###############poll ##########################}
    $('.article_up').click(function () {

        var csrfmiddlewaretoken = $("[name='csrfmiddlewaretoken']").val();
        poll_data = { "csrfmiddlewaretoken":csrfmiddlewaretoken,
                         "article_id":article_id };

        {% if request.user.is_authenticated %}
            $.ajax({
            url: "/blog/article_up/",
            type: "POST",
            data:poll_data,

            success: function (data) {
                data = JSON.parse(data);
                if(data['state']){
                    $('.up_error').text('不能重复点赞').css('color','red');
                       setTimeout(function () {
                        $('.up_error').text('')
                    },2000)
                }
                else {
                    $('.up_count').text(parseInt($('.up_count').text())+1);
                }
            }
            });

        {% else %}
            location.href = '/login/';
        {% endif %}
    });

{#    ###############################reply comment##############################################################}

    $('.article_list').on("click",".reply_comment",function () {
        parent_comment_id = $(this).next().attr("class");
        console.log(parent_comment_id);
        parent_comment_username = $(this).parent().parent().children().eq(0).children().eq(0).text();

        $(".ke-edit-iframe").contents().find(".ke-content").text("@"+parent_comment_username);
        editor.appendHtml('<br>').focus();

    });

{#    #####################################comment content############################################}
     String.prototype.format= function(){
           var args = arguments;
           return this.replace(/\{(\d+)\}/g,function(s,i){
             return args[i];
           });
    };

     function CommentTree(commentList) {
         var htmls='';
         $.each(commentList,function (k,v) {
             var comment_str = '<div class="comment_index">';
             var temp = '<div class="content_index"> <p>  <a href="/blog/{0}" class="user_index"> {1} </a>&nbsp;&nbsp;&nbsp;<span> {2} </span></p>  <p> <span> {3} </span> <a class="pull-right">支持</a> <a class="pull-right reply_comment">回复&nbsp;&nbsp;</a> <span class={4} ></span></p></div>'.format(v['user'],v['user'],v['create_time'],v['content'],v['nid']);
             comment_str += temp;
             if (v['children_comments']){
                 comment_str += CommentTree(v['children_comments'])
             }

             comment_str += '</div>';

             htmls += comment_str

         });

         return htmls
     };


    $(function () {
        $.ajax({
              url:"",
              type:"GET",
              success:function (data) {
                    var MyCommentlist=JSON.parse(data);
                    s=CommentTree(MyCommentlist);
                    $("#comment_box").append(s)  }


        })

    });


    $('.comment_content').click(function () {
      var comment_content = editor.html();

      {% if request.user.is_authenticated %}
          var csrfmiddlewaretoken = $("[name='csrfmiddlewaretoken']").val();
          comment_data = {
              'csrfmiddlewaretoken': csrfmiddlewaretoken,
              'content': comment_content,
              'article_id': article_id,
              'parent_comment_id':parent_comment_id
          };

          $.ajax({
              url: "/blog/article_index_comment/",
              type: "POST",
              data: comment_data,

              success: function (data) {
                  data = JSON.parse(data);
                  setTimeout(function () {
                      $(".ke-edit-iframe").contents().find(".ke-content").html('');
                  },100);

                  $('.comment_count').text(parseInt($('.comment_count').text()) + 1);

                   var comment_str = '<div class="comment_index"><div class="content_index" class="user_index"> <p> <a href="/blog/{0}"> {1} </a>&nbsp;&nbsp;&nbsp;<span> {2} </span></p> <p> <span>{3} </span> <a class="pull-right">支持</a> <a class="pull-right reply_comment">回复&nbsp;&nbsp;</a> <span class={4}></span></p></div></div>'.format('{{ request.user }}','{{ request.user }}',data['comment_create_time'],comment_content,data['comment_id']);
                  if (parent_comment_id){

                      $('.'+parent_comment_id).append(comment_str)

                  }

                  else {$('#comment_box').append(comment_str);}

                   parent_comment_username="";
                   parent_comment_id=0
              }

          });

      {% else %}
          location.href = '/login'+ "{{ request.path }}";

      {% endif %}

  });




    </script>

{% endblock %}